*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-image: url(../images/davies-designs-studio-G-6kwVnClsE-unsplash.jpg); 
	background-repeat: no-repeat;
}

.loading {
	width: 20rem;
	height: 20rem;
	border: 5px solid #f3f3f3;
	border-top: 6px solid #000009;
	border-radius: 100%;
	margin: auto;
	padding: 1px;
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	animation: load 1s infinite linear;
}

@keyframes load {
	from {
		transform: rotate(0deg);
	}
	
	to {
		transform: rotate(360deg);
	}
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem;
	position: fixed;
	background: #000009;
	width: 100%;
	height: 90px;
	z-index: 10;
}

nav .name {
	color: #FFFAFA;
	font-size: 2rem;
	font-weight: bold;
	cursor: pointer;
}

.searchBar {
	margin: 0 auto;
}

.searchBar input {
	border-radius: 7px;
	padding: 0.5rem;
	font-size: 1.2rem;
}


#error {
	width: 100%;
	margin: auto;
	color: red;
	text-align: center;
	display: none;
}

.content {
	display: none;
	position: relative;
	top: 100px;
}

.topContainer {
	display: flex;
	justify-content: space-between;
	padding: 1rem;
}

.weatherType {
	display: flex;
}

.weatherType p {
	font-size: 2rem;
	margin-left: 1rem;
	opacity: 0.5;
	cursor: pointer;
	text-decoration: none;
	color: #000000;
}

.weatherType p:first-child {
	text-decoration: underline;
	opacity: 1;
}

.loc {
	display: flex;
	justify-content: center;

}

.loc i {
	font-size: 2.5rem;
	margin-left: 1rem;
}

.loc h2{
	font-size: 2.2rem;
	margin-left: 1rem;
	
}

.tempUnit {
	display: flex;
}

.tempUnit button {
	font-size: 1.5rem;
	margin-left: 0.5rem;
	background-color: #000009; 
	color: #FFFFFF;
	padding: 0.5rem;
	text-align: center;
	cursor: pointer;
	border-radius: 50%;
}

.fah {
	opacity: 0.5;
}


.now {
	display: flex;
	margin-top: 2rem;
}

.leftCurrent {
	text-align: center;
}

.currentTemp{
	font-size: 4rem;
}

.currentDate {
	font-size: 2rem;
}


.highLow {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.highLow p {
	font-size: 1.5rem;
}

.currentInfo {
	display: flex;
	flex-wrap: wrap;
}

.currentInfo > div {
	box-shadow: 2px 5px black;
	border-radius: 20px;
	margin: auto;
	margin-bottom: 0.5rem;
  	text-align: center;
	background: #000009;
	color: #FFFAFA;
	padding: 0.5rem;
	width: 300px;
}

.currentInfo > div > p {
	font-size: 1.5rem;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}
.weatherCondition {
	width: 800px;
}

.icon {
	width: 100%;
	height: 100%;
}

#hForeLab {
	margin: 1rem;
}

.hourly {
	display: flex;
	flex-wrap: wrap;
}

.hourlyForecast {
  border: 2px solid white;
  border-radius: 20px;
  margin: 1rem;
  text-align: center;

  padding: 0.5rem;
  background: #000009;
  color: #FFFAFA;
}

.hourlyForecast p {
	margin: 0.5rem;
	font-size: 1.5rem;
}

.forecast {
	width: 100%;
	margin: 0 auto;
}

.daily {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	justify-content: center;
	align-content: center;
	margin: 0 auto;
}

.dailyForeCast {
	border: 2px solid white;
	border-radius: 20px;
	margin-bottom: 2rem;
	text-align: center;
	padding: 2rem;
	width: 350px;
	background: #000009;
	color: #FFFAFA;
}

.day {
	font-size: 1.8rem;
	font-weight: bold;
}

.imgLabel {
	font-size: 1.3rem;
}

.dailyImg {
	
	width: 100px;
}

.maxTemp, .minTemp {
	font-size: 1.2rem;
}

@media (max-width: 900px) {
	.currentInfo > div {
		width: 250px;
	}
}

@media (max-width: 600px) {
	nav .name {
		font-size: 1.2rem;
		width: 100px;
	}

	.weatherCondition {
		display: none !important;
	}

	.weatherType p {
		font-size: 1.5rem;
		margin-left: 0.5rem;
	}
	
	.loc i {
		font-size: 1.5rem;
	}
	
	.loc h2{
		font-size: 1.5rem;
		
	}
	
	.tempUnit button {
		font-size: 1rem;
	}
	
	.currentTemp{
		font-size: 3.5rem;
	}
	
	.currentDate {
		font-size: 1.7rem;
	}
	
	.highLow p {
		font-size: 1.4rem;
	}
	
	
	.currentInfo > div {
		margin: auto;
		margin-bottom: 1rem;
		width: 200px;
	}
	
	.currentInfo > div > p {
		font-size: 1.4rem;
	}
	
	
	.hourlyForecast p {
		font-size: 1.1rem;
	}
	
	
	.dailyForeCast {
		width: 200px;
	}
	
	.day {
		font-size: 1.4rem;
	}
	
	.imgLabel {
		font-size: 1rem;
	}
	
	.dailyImg {
		
		width: 70px;
	}

	.maxTemp, .minTemp {
		font-size: 1rem;
	}
}

@media (max-width: 420px) {
	.weatherType p {
		font-size: 1.2rem;
	}
	
	.loc i {
		font-size: 1.2em;
	}
	
	.loc h2{
		font-size: 1.2rem;
		
	}
	
	.currentInfo > div {
		width: 170px;
	}
	
	.currentInfo > div > p {
		font-size: 1.2rem;
	}
	
	.hourlyForecast {
		margin: 0.5rem;
	  }
	
	.hourlyForecast p {
		font-size: 1.1rem;
	}

	.dailyForeCast {
		width: 170px;
	}
	
}
